<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <staticFilesModuleSettings>
    <allowAnonymous>
      <file path="/OMWebiSearch/PDF/3.pdf" ></file>
    </allowAnonymous>
  </staticFilesModuleSettings>
  <appSettings>
    <add key="UseStaticFilesModule" value="true"/>
  </appSettings>
</configuration>