.cke
{
	flex: 1;
	display: flex;
	flex-direction: column;
}

	.cke .cke_inner
	{
		flex: 1;
		display: flex;
		flex-direction: column;
		height: 100%;
	}

		.cke .cke_inner .cke_contents
		{
			flex: 1;
		}

.loader
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background-image: url('../Images/loader1.gif');
	background-position: center center;
	background-repeat: no-repeat;
	background-color: #aaa;
	opacity: 0.5;
}
