<div id="firstColButton" 
     ng-click="toggleContextMenu($event)"
     ng-class="{'first-col-button-active': contextMenu.visible}">
</div>

<div id="firstColContextMenu" class="context-menu grid-context-menu" ng-show="contextMenu.visible" ng-cloak>
    <ul ng-if="contextMenu.items.length">
        <li ng-repeat="item in contextMenu.items"
            ng-click="itemClicked($event, item)"
            ng-mouseenter="onMouseEnter($event, $index, item)"
            ng-mouseleave="onMouseLeave($event, $index, item)"
            ng-disabled="!!item.checkIfEnabled && !item.checkIfEnabled()"
            ng-class="{'context-menu-separator': item.id === '-', 'context-menu-item-disabled': !!item.checkIfEnabled && !item.checkIfEnabled(), 'selected': item.isSelected }">
            <span>{{item.text}}</span>
        </li>
    </ul>
</div>