<div id="sessionExpiredModal">
    <div id="sessionExpiredModalContent">
        <h2>Session expired</h2>
        <p> Please &lt;login&gt; or &lt;re-fresh&gt; if you already logged-in from a different page.</p>
        <div>
            <a id="sessionExpiredLogin" class="toolbarButton">Login</a>
            <a id="sessionExpiredRefresh" class="toolbarButton">Refresh</a>
        </div>
    </div>
</div>