@using OMWebiSearch.Areas.ViewModels
@model StoryViewModel
@Html.Hidden("hdnStoryId", Model.Story.ID.GetEncoded())
@Html.Hidden("hdnStoryReadonly", Model.Story.ReadOnly.ToString())
<div class="story-content" id="OMWStoryCtrl" ng-controller="OMWStoryCtrl">

    <div id="storyLoading"></div>

    @Html.TextAreaFor(m => m.Story.Text, new { style = "display:none;" })

    <script type="text/javascript">
        //OMWClientContext.Story.SetEditor();
        //debugger;
    </script>

    <div id="hdnStoryText">
        @Model.Story.Text
    </div>

    <div id="printableContent" class="pv">TEST</div>
    <div class="storyLoader"></div>
    <div class="storyMessage">
        <div>
            <div class="storyMessageText"></div>
            <div class="storyMessageButtonWrap">
                <button class="storyMessageButton">OK</button>
            </div>
        </div>
    </div>
</div>
