@using OMWebiSearch.Areas.ViewModels
@model StoryViewModel

<div class="headerButtonsLeft">
    @Html.Partial("~/Areas/Common/Views/_NewItem.cshtml")
    @Html.Partial("~/Areas/Upload/Views/_Upload.cshtml")
</div>
