
<div class="modalDialog pop-up-dialog">
    <div>

        <div class="dialogTitlebar">
            <h2>Select an object</h2>
            <a id="closeX" title="Close" class="close" ng-click="close()"></a>
        </div>

        <div class="pop-up-body">
            <div class="edit-list-field-value-input">

                <label for="name">Name test:</label>
                <span class="wrapper-for-field-value">
                    <input type="text" ng-model="data.item.Value" ng-focus="focused()" ng-blur="revalidate()" />
                </span>
            </div>

            <div class="pop-up-dialog-table edit-list-field-value-table">
                <div id="editListFieldGrid" class="grid"
                     ui-grid="gridOptions"></div>

                <div id="loading" ng-show="showLoadingAnimation" style="display:block;">
                    <div class="imageHolder"></div>
                </div>
            </div>
        </div>

        <div>
            <div class="buttons-row">
                <button id="btnSave"
                        ng-click="save()"
                        class="linkButton save-button">
                    Save
                </button>
            </div>
            <div class="clear-fix"></div>
        </div>
    </div>
</div>

