.collectionHeader
{
	font-size: 0;
}

.storyHeader
{
	font-size: 0;
}

.searchProfileHeaderFieldsPreview
{
	font-size: 0;
	float: none !important;
	width: 100% !important;
}

.headerFieldContainer, .headerFieldContainerMultiline, .searchFieldContainer, .searchFieldContainerMultiline
{
	overflow: hidden !important;
	margin-bottom: 5px !important;
	float: none !important;
	display: inline-block !important;
	min-width: 0 !important;
	font-size: 10pt !important;
	vertical-align: top !important;
}

.overflow-visible
{
	overflow: visible !important;
}

.searchFieldWrap.omw-field-type-text input,
.searchFieldWrap.omw-field-type-number input,
.searchFieldWrap.omw-field-type-duration input,
.searchFieldLabel.storyFieldLabelURL input
{
	margin: 0 !important;
	line-height: 20px !important;
}

.searchFieldWrap.omw-field-type-multiline
{
	margin-top: 2px !important;
}

.searchProfileHeaderFieldsPreview .searchFieldWrap .k-combobox select
{
	margin-top: 0 !important;
	height: 24px !important;
}

.searchProfileHeaderFieldsPreview .searchFieldWrap > input
{
	line-height: 24px !important;
	height: 24px !important;
	width: 100%;
	margin-left: 0 !important;
}
